@use 'variables' as *;

.cSection {
  padding-bottom: 88px;
}

.cLink {
  color: $color-brand;
  display: inline-block;
  margin: 8px 0;
  position: relative;
  transition: all 0.12s ease-in-out;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      bottom: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='307.571' height='5.097' viewBox='0 0 307.571 5.097'%3E%3Cpath vector-effect='non-scaling-stroke' d='M1034.162-922s62.652-.729,98.441,0,56.361,0,105.727,0,101.34-2.758,101.34-2.758' transform='translate(-1033.151 925.809)' fill='none' stroke='%23e88661' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-size: cover;
    }
  }
}

.cSubHeading {
  font-size: 1.8rem !important;
}

.cSubSubHeading {
  font-size: 1.6rem !important;
}
